<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSF Day13 Workshop</title>
</head>
<body>
    <a href="/contact/add">Add new contact</a>
    <div class="data">
        <table>
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>DOB</th>
            </thead>
            <tbody>
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contact.name}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.phoneNo}"></td>
                    <td th:text="${contact.dob}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>